[zabbix]
name=Zabbix Official Repository - $basearch
baseurl=http://xt-cobbler-yum-01.nbnbnb.org/zabbix-4.0
        https://mirrors.aliyun.com/zabbix/zabbix/4.0/rhel/7/x86_64/
        http://repo.zabbix.com/zabbix/4.0/rhel/7/$basearch/
failovermethod=priority
enabled=1
gpgcheck={{ GPGCHECK }}
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-ZABBIX

[zabbix-non-supported]
name=Zabbix Official Repository non-supported - $basearch
baseurl=http://xt-cobbler-yum-01.nbnbnb.org/zabbix-non-supported
        https://mirrors.aliyun.com/zabbix/non-supported/rhel/7/x86_64/
        http://repo.zabbix.com/non-supported/rhel/7/$basearch/
failovermethod=priority
enabled=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-ZABBIX
gpgcheck={{ GPGCHECK }}
