[jenkins]
name=Jenkins-stable
baseurl=https://mirrors.tuna.tsinghua.edu.cn/jenkins/redhat-stable
        http://pkg.jenkins.io/redhat-stable
repo_gpgcheck=0
gpgcheck={{ GPGCHECK }}
enabled=1
#gpgkey=https://pkg.jenkins.io/redhat-stable/jenkins.io.key
